@page "/auctions"
@inject HttpClient Http

<h3>Ongoing Auctions</h3>

@if (auctions == null)
{
    <p>Loading auctions...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Sr no</th>
                <th>Auction StartTime</th>
                <th>Auction EndTime</th>
                <th>Rules</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var auction in auctions)
            {
                <tr>
                    <td>Id</td>
                    <td>@auction.StartTime</td>
                    <td>@auction.EndTime</td>
                    <td>@auction.Rules</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Auctions> auctions;

    protected override async Task OnInitializedAsync()
    {
        auctions = await Http.GetFromJsonAsync<List<Auctions>>("api/Auction");
    }

    public class Auctions
    {
        public int Id { get; set; }
        public DateTime StartTime { get; set; }
        public DateTime EndTime { get; set; }
        public AuctionRules Rules { get; set; }
    }
}
