@page "/"

<div class="home-background">
    <h1>Welcome to PCCL </h1>
    <<br />
    <p>Find Top Talent for your team. Organize seamless player auction for cricket</p>
</div>

<style>
    .home-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
        height: 100vh;
        text-align: center;
    }

    h1 {
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.5rem;
    }
</style>
